<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.MemberMapper">

<insert id="insert">
	INSERT INTO MEMBER(IDX, EMAIL, PASSWORD, NAME, AUTHKEY, AUTH)
		VALUES (SEQ_MEMBER.NEXTVAL, #{email}, #{password}, #{name}, #{authkey}, 0 )	
</insert>


<insert id="insertSelectKey">
	
<selectKey keyProperty="idx" order="BEFORE" resultType="long">
	SELECT SEQ_MEMBER.NEXTVAL FROM DUAL
</selectKey>
	
	INSERT INTO MEMBER(IDX, EMAIL, PASSWORD, NAME,  AUTHKEY, AUTH)
		VALUES (SEQ_MEMBER.NEXTVAL, #{email}, #{password}, #{name}, #{authkey}, 0 )	
	
</insert>

	
<delete id="delete">
	DELETE MEMBER WHERE IDX = #{idx}
</delete>


<select id="getMember" resultType="com.spring.domain.MemberVO">
	SELECT * FROM MEMBER WHERE EMAIL = #{email}
</select>	


<select id="login" resultType="com.spring.domain.MemberVO">
	SELECT * FROM MEMBER 
		WHERE EMAIL = #{email} AND PASSWORD = #{password}

</select>

<select id="getSaltById" resultType="String">
	SELECT SALT FROM MEMBER 
		WHERE EMAIL = #{email}
</select>

<update id="updateAuthkey" >
	UPDATE MEMBER SET AUTHKEY = #{authkey} 
		WHERE EMAIL = #{email}
</update>

<update id="updateAuthstatus">
	UPDATE MEMBER SET AUTH = #{auth} 
		WHERE EMAIL = #{email} AND AUTHKEY = #{authkey}
</update>

<select id="getAuth" resultType="Integer">
	SELECT AUTH FROM MEMBER 
		WHERE EMAIL = #{email}
</select>

<select id="modifyPassword" parameterType="String" resultType="Integer">
		SELECT COUNT(*) FROM MEMBER
		WHERE EMAIL = #{email} AND PASSWORD = #{password}
</select>

<update id="updatePassword" parameterType="com.spring.domain.MemberVO">
		UPDATE MEMBER SET PASSWORD = #{password} 
		WHERE EMAIL = #{email}
</update>

<delete id="deleteMember">
	DELETE MEMBER WHERE EMAIL = #{email} AND PASSWORD = #{password}
</delete>

<select id="phoneCheck" parameterType="String" resultType="Integer">
	SELECT COUNT(*) FROM MEMBER
	WHERE PHONE = #{phone}
</select>



</mapper>
