<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.ReservMapper">


<insert id="insert">

	<!-- <selectKey keyProperty="reserv_idx" order="BEFORE" resultType="long">
		SELECT SEQ_RESERVATION.NEXTVAL FROM DUAL
	</selectKey> -->
	
	INSERT INTO RESERVATION(RESERV_IDX, PRICE, BREAKFAST, RESERV_NAME, START_DATE, END_DATE, MALE, FEMALE, Ticket, BILLING_DATE, RESERV_EMAIL, COUNT)
		VALUES (SEQ_RESERVATION.NEXTVAL, #{price}, #{breakfast}, #{reserv_name}, #{start_date}, #{end_date}, #{male}, #{female}, #{ticket}, SYSDATE, #{reserv_email}, #{count})

</insert>

<select id="read" resultType="com.spring.domain.ReservVO">
	SELECT * FROM RESERVATION 
		WHERE RESERV_IDX = #{reserv_idx}
</select>

<delete id="delete">
	DELETE FROM RESERVATION 
		WHERE RESERV_IDX = #{reserv_idx}
</delete>

<select id="getMyReservation" resultType="com.spring.domain.ReservVO">
	SELECT * FROM RESERVATION 
		WHERE RESERV_EMAIL = #{reserv_email} AND  ROWNUM = 1
</select>


<select id="getList" resultType="com.spring.domain.ReservVO" >
	<![CDATA[	
		SELECT * FROM RESERVATION WHERE RESERV_EMAIL = #{reserv_email}  AND RESERV_NAME = #{reserv_name} ORDER BY RESERV_IDX DESC
	]]>
</select>













</mapper>